<div class="grid_12">
  <% for work in @works do %>
    <div>
      <h3><%= work.name %></h3>
      <%= image_tag work.image.url(:medium) if work.image %>
      <%= work.description %>
    </div>
    <hr />
   <% end %>
</div>
