.nested_lists ul {list-style:none;padding:0;margin:0;}
.nested_lists li {padding:0 0 0 10px;margin:0;}
.nested_lists li a{text-decoration:none;}
.hp_sliders {padding:0;}
.hp_sliders h3, .hp_sliders h4, .hp_sliders p{padding:0;color:#777}
.hp_sliders p{padding:0 0 0 3px; line-height:120%;color:#aaa;text-align:justify;}
.hp_sliders a{color:#777;}
.hp_sliders h3{font-size:1.1em;}
.hp_sliders h4{font-size:1.1em;}