.nested_lists ul {list-style:none;padding:0;margin:0;}
.nested_lists li {padding:0 0 0 10px;margin:0;}
.nested_lists li {color:#CC5555;font-style:italic;} /* active */
.nested_lists li a{text-decoration:none;font-style:normal;color:#666;}
.nested_lists li a:hover{color:#999;}
.nested_lists li p.small{color:#999;font-size:11px;margin:0;padding:0;}

.hp_sliders {padding:0;}
.hp_sliders h4, .hp_sliders h5, .hp_sliders p{padding:0;color:#777}
.hp_sliders p{line-height:120%;color:#aaa;text-align:justify;}
.hp_sliders p span{display:block;overflow:hidden;height:77px;}
.hp_sliders p a{position:relative;left:253px;}
.hp_sliders h4{font-size:1.1em;}
.hp_sliders h5{font-size:1.1em;}
.hp_sliders ul{padding:0;}
.hp_sliders ul li{list-style:none;padding:0;}
.more{color:#c55;text-decoration:none;}
.right{float:right;}
.transparent_bg{background:url('/images/transparency.png') repeat;}
.promo_tabs_wrapper{position:absolute;top:0;left:0;width:100%;}
.promo_list{margin:0;padding:0;list-style:none;z-index:9999;width:100%;}
.promo_list td{margin:0;border-right:1px solid #999;border-bottom:1px solid #999;}
.promo_list td a{color:#fff;text-transform:uppercase;font-size:11px;text-decoration:none;line-height:1.2em;padding:7px 5px;display:block;width:100%;}
.promo_list td:hover{background:#444;}

html, body {
height: 100%;
}
#outer {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -100px;
}
#footer, .push {
height: 100px;
padding:0;margin:0;
}
