  <table class="promo_list transparent_bg" cellpadding="0" cellspacing="0">
    <tr>
    <% promo_pages = Page.home_page.children.active %>    
    <% promo_pages.each do |page| %>
      <td>
        <%= link_to_remote page.name, {:url => {:controller => 'pages', :action => 'switch_promos', :page_id => page.id}, :update => 'promo_container', :before => "$('#promos').cycle('stop')"}, {:title => strip_tags(page.body)} %>
      </td>
    <% end %>
    </tr>
  </table>

    <div id="promos">
      <% @page.pictures.each do |picture| %>
        <div class="promo"><a href="#"><%= image_tag picture.url(:original), :class => "shadow-large", :height => "400" %></a></div>  
      <% end %>
    </div>
    <div id="promo-nav" class="clearfix">
      <ul class="clean right">
        <% @page.pictures.size.times do |i| %>
          <li><a href="#"><%= i %></a></li>
        <% end %>
      </ul>
    </div>
    <script type="text/javascript">
    	// Promo slider setup, inserted on when promo is in use to save bandwidth
	    
	  $('#promos').cycle({ 
		  fx:     'fade', 
		  speed:  1000, 
		  timeout: 3000,
		  pager: '#promo-nav',
		  pause: 1,
		  height: 'auto',
		  pauseOnPagerHover: 1,
		  fastOnEvent: 350,
		  pagerAnchorBuilder: function(idx, slide) { 
			return "#promo-nav li:eq("+ idx +") a"; 
		  },
      after: function(curr, next, opts, fwd){
      //get the height of the current slide
      var $ht = $(this).height();
      //set the container's height to that of the current slide
      $(this).parent().css("height", $ht);
      }
	  });
    </script>
