    <div id="promos">
      <% @page.pictures.each do |picture| %>
        <div class="promo"><a href="#"><%= image_tag picture.url(:original), :class => "shadow-large", :height => "400" %></a></div>  
      <% end %>
    </div>
    <div id="promo-nav" class="clearfix">
      <div id="promo-nav-inner" class="clean right"></div>
    </div>
    <script type="text/javascript">
    	// Promo slider setup, inserted on when promo is in use to save bandwidth
	    slider = $('#promos').bxSlider({auto:true,controls:false,pause:3000,mode:'fade',speed:1000,pager:true,pagerSelector:'#promo-nav-inner',pagerActiveClass:'activeSlide',autoHover:true,stopAuto:false,onAfterSlide:function(currentSlide, totalSlides){if(currentSlide+1 == totalSlides){load_next_promos(<%= @page.id %>);}}});
      $('#promos').parent().css("height", 400);

      function load_next_promos(page_id){
        slider.stopShow();
        setTimeout(function(){
          var link = $('#promo_link_'+page_id).next().children()[0];
          if(link != undefined){
            $(link).click();
          } else {
            link = $('#promo_tabs a')[0];
            $(link).click();
          }
        },2000);
      }
    </script>
