<div class="clearfix">
  <div class="grid_12 promo-container">
    <div id="promos">
      <div class="promo"><a href="#"><img src="images/promos/home/horizontal-layout/promo01.jpg" alt="Promo" class="shadow-large" height="400" /></a></div>
      <div class="promo alternate"><a href="#"><img src="images/promos/home/horizontal-layout/promo02.jpg" alt="Promo" class="shadow-large" height="400" /></a></div>
      <div class="promo alternate"><a href="#"><img src="images/promos/home/horizontal-layout/promo03.jpg" alt="Promo" class="shadow-large" height="400" /></a></div>
      <div class="promo alternate"><a href="#"><img src="images/promos/home/horizontal-layout/promo04.jpg" alt="Promo" class="shadow-large" height="400" /></a></div>
      <div class="promo alternate"><a href="#"><img src="images/promos/home/horizontal-layout/promo05.jpg" alt="Promo" class="shadow-large" height="400" /></a></div>
      <div class="promo alternate"><a href="#"><img src="images/promos/home/horizontal-layout/promo06.jpg" alt="Promo" class="shadow-large" height="400" /></a></div>
    </div>
    <div id="promo-nav" class="clearfix">
      <ul class="clean right">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
	<li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
	<li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
      </ul>
    </div>
  </div><!--//grid10-->
</div><!--//clearfix-->

<div class="clearfix widget-area">
  <% @page.children.active.each do |page| %>
  <div class="grid_4 widget">
    <h2><%= page.name %></h2>
    <p><%= page.body %></p>
  </div><!--//grid4-->
  <% end %>
</div><!--//clearfix-->

<div class="grid_12 clearfix">
  <hr />
</div><!--//grid_12-->
