<h2>Panel administracyjny</h2>
<p id="page-intro">Co chciałbyś zrobić?</p>

<ul class="shortcut-buttons-set"> <!-- Replace the icons URL's with your own -->
  
  <li><a class="shortcut-button" href="#"><span>
	<img src="/images/icons/path-to-icon.png" alt="icon" /><br />
	Write an Article
  </span></a></li>
  
  <li><a class="shortcut-button" href="#"><span>
	<img src="/images/icons/paper_content_pencil_48.png" alt="icon" /><br />
	Stwórz stronę
  </span></a></li>
  
  <li><a class="shortcut-button" href="#"><span>
	<img src="/images/icons/image_add_48.png" alt="icon" /><br />
	Dodaj realizację
  </span></a></li>
  
  <li><a class="shortcut-button" href="#"><span>
	<img src="/images/icons/path-to-icon.png" alt="icon" /><br />
	Add an Event
  </span></a></li>
  
  <li><a class="shortcut-button" href="#messages" rel="modal"><span>
	<img src="/images/icons/path-to-icon.png" alt="icon" /><br />
	Open Modal
  </span></a></li>
  
</ul><!-- End .shortcut-buttons-set -->

<div class="clear"></div> <!-- End .clear -->
