    <% product = long_view %>
    <h3><%= link_to product.name, product_path(product) %></h3>
    <div class="grid_5" style="margin-left:0;">
      <%= link_to(image_tag(product.image.url(:content), :class => "shadow-large"), product_path(product)) if product.image %>
    </div>
    <div class="grid_4" style="margin:0;height:180px;overflow:hidden;text-align:justify;">
      <%= strip_tags(product.description) %>
    </div>
    <%= link_to 'wiecej...', product_path(product), :class => "more right" %>
    <div class="clear"></div>
    <hr />
