<div class="grid_3 nested_lists" style="text-align:justify;">
  <h3>Kategorie</h3>
  <%= category_list ProductCategory, false, @category, @product %>
</div>
<div class="grid_9" style="margin:0;">
  <h2><%= @product.name %></h2>
  <div id="product_photos">
    <%= render :partial => 'photos' %>
  </div>
  <div class="clear"></div>
  <div id="main_description">
    <%= @product.description %>
  </div>
</div>

<% javascript_tag do %>
  function initMenu() {
    $('.root p').hide();
    $('.root ul').hide();
    $('.root li a.toggle').click(
      function() {
        $(this).siblings().not('a').slideToggle('fast');
        this.toggleClassName('expanded');
        return false;
      }
    );
  }
  $(document).ready(function() {
    initMenu();
    $('p.active').parents('li').each(function(){$(this).children('a').siblings().not('a').show();})
    $('p.small.active').parents('li').children('a.cat').each(function(){ this.toggleClassName('expanded');})
  });
<% end %>
